/*Navegación*/
nav
{
    display: flex;
    background: #95b78a;
    align-items: center;
    height: 40px;
}

nav ul 
{
    margin: 0 10px; 
    padding: 0;
    list-style: none;
}

nav li 
{
    margin: 0 5px 0 0; 
    padding: 0;
    float: left;
}

nav a 
{
    display: block;
    padding: 5px 40px;
    background: #93b484;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover
{
    background-color: #d5c179;
    border-radius: 5px;
}

/* #body
{
    background-image: url("../Recursos/fondo.png");
    background-size: 100% 200%;
} */