#reg
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddedea;
    padding: 20px;
    margin: 0 auto;
    height: 405px;
}

#reg h1 
{
    font-size: 25px;
    text-align: center;
    color: #333;
}

.regInput
{
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 11px;
}

#redireccionar, #registrarReg
{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #86aaa3;
    color: #fff;
}

#redireccionar:hover
{
    background-color: #a8d5cc;
}

#registrarReg
{
    background-color: #7e9030;
}

#registrarReg:hover
{
    background-color: #a0b987;
}

#reg form 
{
    background-color: #cde5e0;
    width: 500px;
    height: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#reg form label:first-of-type 
{
    margin-right: 20px;
}


select 
{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="file"] 
{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}
