.pregunta 
{
    background-color: #ddedea;
    width: 1000px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dud
{
    float: right;
}

.resRec
{
    display: grid;
    grid-template-columns: 200px 700px;
}

.recurso img
{
    border-radius: 25px;
}

.radios
{
    padding-top: 40px;
    padding-left: 10px;
}

#formRes
{
    display: grid;
    grid-template-rows: auto auto;
    background-color: #cde5e0;
}

#examen
{
    padding: 20px;
    margin: 0 auto;
    height: 405px;
}

.btnBorrar
{
    float: right;
}

.ids
{
    display: grid;
    grid-template-rows: auto auto;
    font-size: 17px;
    padding-left: 50px;
    font-weight: 700;
}

.btnSigAnt
{
    display: flex;
    justify-content: space-between;
}

#Enviar, .anterior, .siguiente, .borrar
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.anterior, .siguiente
{
    background-color: #a4ccb4;
}

.anterior:hover , .siguiente:hover
{
    background-color: #a4ccb494;
}

.borrar
{
    background-color: #a4a8cc62;
}

.borrar:hover
{
    background-color: #a4a8cce3;
}

#Enviar
{
    display: grid;
    justify-content: end;
    margin-right: 240px;
    margin-left: 1120px;
    background-color: #86aaa3;
    color: #fff;
}

#Enviar:hover
{
    background-color: #b4cfb7
}